@font-face {
    font-family: primary;
    src: url(../assets/fonts/black-ops-one.ttf);
}

:root {
    --primary: rgb(223, 113, 253);
    --darkened: rgb(95, 43, 110);
    --neutral: rgb(200, 200, 200);
    --background: rgb(40, 40, 40);
    --backdrop: rgba(60, 60, 60, 0.8)
}

html, body, canvas {
    height: 100%;
    width: 100%;
    margin: 0;
    background: var(--background);
    overflow: hidden;
    font-family: 'primary';
    text-transform: uppercase;
}

/******************************/
/******* MENU *******/
/******************************/
.menu-box {
    position: fixed;
    left: 0; top: 0; right: 0; bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.button, .toggle-button {
    display: inline-block;
    border-radius: 100rem;
    cursor: pointer;
    color: var(--neutral);
    background: var(--background);
    border: none;
}

.button {
    font-size: 2rem;
    padding: 0.8rem 1.6rem;
    margin: 1rem;
}

.button:active, .toggle-button:active {
    box-shadow: 0 0 .5rem var(--primary);
}

.toggle-button {
    font-size: 1.4rem;
    padding: .5rem 1rem;
    margin: 1rem .5rem;
    min-width: 4rem;
    text-transform: uppercase;
    font-family: 'primary';
}

.selected {
    background: var(--darkened);
}


.keybindings-container {
    margin-bottom: 2rem;
}

.table-row {
    display: flex;
    color: var(--neutral);
    border-top: .1rem solid var(--backdrop);
    padding: .6rem;
    min-width: 30rem;
    font-size: 1.4rem;
    align-items: center;
}

.row-name {
    flex: 1;
}

.title {
    font-family: 'primary';
    font-size: 2.2rem;
    color: var(--neutral);
    font-weight: normal;
}

/******************************/
/******* LOADING SCREEN *******/
/******************************/
#p5_loading {
    color: var(--neutral);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#p5_loading h1 {
    font-size: 7rem;
    margin: 0;
}

#p5_loading h1 span {
    animation: flashing 3.5s infinite;
}
#p5_loading .a { animation-delay: 0s; }
#p5_loading .b { animation-delay: .15s; }
#p5_loading .c { animation-delay: .3s; }
#p5_loading .d { animation-delay: .45s; }
#p5_loading .e { animation-delay: .6s; }
#p5_loading .f { animation-delay: .75s; }
#p5_loading .g { animation-delay: .9s; }
#p5_loading .h { animation-delay: 1.05s; }

@keyframes flashing {
    0% { color: var(--neutral); }
    20% { color: var(--darkened); }
    40%, 100% { color: var(--neutral); }
}