@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .border-t-1 {
    border-top-width: 1px;
  }
  .border-r-1 {
    border-right-width: 1px;
  }
  .border-b-1 {
    border-bottom-width: 1px;
  }
  .border-l-1 {
    border-left-width: 1px;
  }
  .border-1 {
    border-width: 1px;
  }
}

@layer base {
  canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .invisibe-scroll::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
  .invisibe-scroll {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
